.button-container {
	display: flex;
    justify-content: center;
}

.button {
    font-size: 1.375em;
    /* 1.375x body copy size = 22px */
    line-height: 1.13636364;
    /* 25px / 22px */
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    background: radial-gradient( white, gray );
    border-color: black;
}

@media (min-width: 43.75rem) {
    .button {
        font-size: 1.5rem;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
    }
}

@media (min-width: 56.25rem) {
    .button{
        font-size: 1.75rem;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
    }
}

.button:hover {
    background: radial-gradient( white, darkgrey );
    border-color: darkgrey;
}

.button:active {
    background: radial-gradient( white, blue );
    border-color: blue;
}

.button:disabled {
    background: radial-gradient( white, lightgrey );
    border-color: lightgrey;
    color: darkgrey;
}
