.pb-sidebar {
	/* Overlap at phone width, with menu-button to open and close */
	height: 100%;
	display: flex;
	padding: 20px;
	width: 100%;
}

.pb-sidebar-label {
	color: black;
}

.pb-sidebar-items {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;    
	animation: ellipsis steps(4, end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1.25em;    
	}
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;
	flex: 1;
}

form input:hover {
	cursor: pointer;
}

form div {
	padding: 5px;
	display: flex;
}